header .top {
  padding: 7px 0;
  border-bottom: 1px solid #ececec;
}

header .top .header-info-left ul {
  padding: 0;
}

header .top .header-info-left ul:nth-child(4) {
  margin-right: 0;
}

header .top .header-info-left ul li {
  margin-right: 20px;
  position: relative;
}

header .top .header-info-left ul li a {
  text-decoration: none;
  color: #7e7e7e;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
}

header .top .header-info-left ul li:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #7e7e7e;
}

header .top .header-info-right ul {
  list-style: none;
}

header .top .header-info-right ul li {
  margin-right: 20px;
  position: relative;
  color: #7e7e7e;
  font-size: 13px;
}

header .top .header-info-right ul li strong {
  color: #3bb77e;
}

header .top .header-info-right ul li a {
  text-decoration: none;
  color: #7e7e7e;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
}

header .top .header-info-right ul li:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #7e7e7e;
}

header .bottom {
  padding: 25px 0;
}

header .bottom .header-left img {
  width: 180px;
  min-width: 180px;
}

header .bottom .header-middle {
  width: 100%;
  height: 50px;
}

header .bottom .header-middle form {
  border: 2px solid #bce3c9;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 20px;
}

header .bottom .header-middle form .input-div {
  width: 70%;
}

header .bottom .header-middle form .input-div input {
  width: 100%;
  height: 50px;
}

header .bottom .header-middle form span {
  padding: 0 10px 0 20px;
}

header .bottom .header-middle form .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .bottom .header-middle form .line::after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #cacaca;
  position: absolute;
  left: 122px;
  top: 15px;
}

header .bottom .header-right .header-location {
  border: 1px solid #ececee;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 6px 8px;
}

header .bottom .header-right .header-location i {
  color: grey;
}

header .bottom .header-right .header-location span {
  color: #3bb77e;
  margin: 0 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
}

header .bottom .header-right .header-location .downs {
  font-size: 10px;
}

header .bottom .header-right .header-action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom .header-right .header-action span {
  position: absolute;
  background-color: #3bb77e;
  color: #fff;
  left: 18%;
  top: -22%;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

header .bottom .header-right .header-action a {
  margin: 5px 0 0 0;
}

#navbar {
  background-color: #3bb77e;
  padding: 12px 0;
}

#navbar .nav-left .categories {
  background-color: #fdc040;
  padding: 15px 8px;
  border-radius: 5px;
  color: #fff;
}

#navbar .nav-left .categories a {
  color: #fff;
}

#navbar .nav-left .categories span {
  margin: 0 5px;
}

#navbar .nav-left .nav-menu {
  margin-left: 30px;
}

#navbar .nav-left .nav-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#navbar .nav-left .nav-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#navbar .nav-left .nav-menu li:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#navbar .nav-left .nav-menu li i {
  margin-left: 10px;
  font-size: 10px;
  color: #fff;
}

#navbar .nav-left .nav-menu li a {
  margin-left: 25px;
  color: #fff;
  font-size: 15px;
}

#navbar .nav-left .nav-menu li .mega-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  width: 100%;
  padding: 35px 500px 25px 700px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .nav-left .nav-menu li .mega-menu .mega-sub-menu {
  line-height: 1;
  display: block;
  position: relative;
  right: 0;
  padding-right: 10px;
}

#navbar .nav-left .nav-menu li .mega-menu .mega-sub-menu ul {
  opacity: 1;
}

#navbar .nav-left .nav-menu li .mega-menu img {
  width: 100%;
}

#navbar .nav-left .nav-menu li .sub-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  padding: 25px 15px;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  top: 90%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .nav-left .nav-menu li .sub-menu i {
  color: #7e7e7e;
}

#navbar .nav-left .nav-menu li .sub-menu li a {
  font-size: 14px;
  color: #7e7e7e;
  display: block;
  padding: 0 15px;
}

#navbar .nav-left .nav-menu li .sub-menu li:hover .sub-menu-2 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#navbar .nav-left .nav-menu li .sub-menu li .sub-menu-2 {
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  padding: 25px 15px;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  top: 90%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  left: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .nav-right .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

#navbar .nav-right .text p {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: -10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar .nav-right .text span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */